*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: #fff7f7;
}

header{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 203, 213);
}

/*Top banner css*/
.topbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    font-family: 'Shrikhand', serif;
}

/*Top banner text*/
.topbar p{
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Shrikhand', serif;
    position: absolute;
}


            
.hL{
    float: left;
    background-color: 
}
            
.hR{
    float: right;
}

/*Log out div*/
header .logout{
    top: 35px;
    right: 100px;
    position: absolute;
}

/*Navbar banner*/
.navbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    position: sticky;
    top: 0;left: 0;right: 0;
    font-size: 35px;
    height: auto;
    background-color: white;
    margin: 0px 5px 0px 5px;
    z-index: 1;
    font-family: 'Cormorant Garamond', serif;
}

/*Navbar buttons*/
.navbar a{
    float: left;
    background-color: rgb(255, 172, 183);
    padding: 5px 25px 5px 25px;
    margin: 5px 2px 5px 2px;
    width: 20%;
    text-align: center;
    color: black;
    font-family: 'Cormorant Garamond', serif;
}

.navbar a:hover{
    background-color: #d8e2dc;
    color: red;
    font-family: 'Cormorant Garamond', serif;
}

.navbar .curr{
    background-color: #d8e2dc;
    font-family: 'Cormorant Garamond', serif;
}

/*Main container settings*/
main{
    background-color: rgb(255, 245, 245);
    min-height: 1000px;
    padding: 50px 30px 0px 30px;
}
            
.button{
    background-color: #f4acb7;
    border: none;
    text-transform: uppercase;
    cursor:pointer;
    padding: 15px;
    border-radius: 40px;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    width: 150px;
}

.button:hover{
   background-color: #d8e2dc;
}








